<body>
<ul class="quotes">
	<% for (var i=0;  i<quotes.length; i++ ) {%>
	<li> <%= quotes[i].name%> - <%= quotes[i].quote%> </li>
	<% } %>
</ul>


<form action="/quotes" method="POST">
	<input type="text" name="name">
	<input type="text" name="quote">
	<button type="submit">Submit</button>
</form>


<div>
<h2>Replace last quote written by Master Yoda with a quote written by Darth Vadar</h2>
<button id="update"> Darth Vadar invades! </button>
</div>
<script src="main.js"></script>
</body>